.carousel-inner img{
    height: 700px;
}
#tr1:hover{
    background-color: aqua;
}
#tr2:hover{
    background-color: aqua;
}
#tr3:hover{
    background-color: aqua;
}
#tr4:hover{
    background-color: aqua;
}
#tr5:hover{
    background-color: aqua;
}
#tr6:hover{
    background-color: aqua;
}
#tr7:hover{
    background-color: aqua;
}